{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load static %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/utils.css' %}">
{% endblock extra_head %}
{% block content %}
{% include 'navbar.html'%}

<main style="margin-top:100px">
    <div class="container">
        <div class="row justify-content-center align-self-center">
            <div class="notify-box">
            <h1>{% trans "Password Reset" %}</h1>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
            </div>
        </div>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset" style="text-align:center">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_email">E-mail:</label>
            <input type="email" class="form-control" name="email" placeholder="E-mail address" autocomplete="email" required id="id_email" />
        </div>
        <button class="btn btn-primary" type="submit">{% trans 'Reset My Password' %}</button>
    </form>

    <div style="text-align:center;margin-top:10px">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</div>
    </div>
</main>
{% endblock %}
