{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount%}
{% load crispy_forms_tags %}
{% block head_title %}
{% trans "Signup" %}
{% endblock %}
{% block content %}
<nav
  class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar"
>
  <div class="container">
    <!-- Brand -->
    <a class="navbar-brand waves-effect" href="{% url 'home' %}">
      <strong class="blue-text">Shopify</strong>
    </a>

    <!-- Collapse -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link waves-effect" href="/"
            >Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>

      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link waves-effect" href="{% url 'account_login' %}">
            <span class="clearfix d-none d-sm-inline-block"> Login </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" href="{% url 'account_signup' %}">
            <span class="clearfix d-none d-sm-inline-block"> Signup </span>
          </a>
        </li>
        <li class="nav-item">
          <a
            href="https://github.com/m-e-l-u-h-a-n/shopify"
            class="nav-link waves-effect"
            target="_blank"
            link="noreferer noreciever"
          >
            <i class="fab fa-github mr-2"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<main style="margin-top: 100px">
  <div class="container">
    <section class="text-center mb-4">
      <div class="row wow fadeIn">
        <div class="col-6 offset-3">
          <h1>{% trans "Sign Up" %}</h1>

          <p>
            {% blocktrans %}Already have an account? Then please
            <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
          </p>

          <form
            class="signup"
            id="signup_form"
            method="post"
            action="{% url 'account_signup' %}"
          >
            {% csrf_token %}
            <div id="div_id_username" class="form-group">
              <label for="id_username" class="requiredField"><strong>Username<span class="asteriskField">*</span></strong>
              </label>
              <div class="">
                <input
                  type="text"
                  name="username"
                  placeholder="Username"
                  autofocus="autofocus"
                  minlength="1"
                  maxlength="150"
                  class="textinput textInput form-control"
                  required
                  id="id_username"
                />
              </div>
            </div>
            <div id="div_id_email" class="form-group">
              <label for="id_email" class="">
              <strong>E-mail<span class="asteriskField">*</span></strong> </label>
              <div class="">
                <input
                  type="email"
                  name="email"
                  placeholder="E-mail address"
                  class="textinput textInput form-control"
                  id="id_email"
                  required
                />
              </div>
            </div>
            <div id="div_id_password1" class="form-group">
              <label for="id_password1" class="requiredField">
              <strong>Password<span class="asteriskField">*</span></strong>
              </label>
              <div class="">
                <input
                  type="password"
                  name="password1"
                  placeholder="Password"
                  class="textinput textInput form-control"
                  required
                  id="id_password1"
                />
              </div>
            </div>
            <div id="div_id_password2" class="form-group">
              <label for="id_password2" class="requiredField">
                <strong>Password (again)<span class="asteriskField">*</span></strong>
              </label>
              <div class="">
                <input
                  type="password"
                  name="password2"
                  placeholder="Password (again)"
                  class="textinput textInput form-control"
                  required
                  id="id_password2"
                />
              </div>
            </div>

            {% if redirect_field_value %}
            <input
              type="hidden"
              name="{{ redirect_field_name }}"
              value="{{ redirect_field_value }}"
            />
            {% endif %}
            <button class="btn btn-default" type="submit">
              {% trans "Sign Up" %} &raquo;
            </button>
          </form>
        </div>
      </div>
    </section>
  </div>
</main>
{% endblock %}
