[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
pylint-django = "*"

[packages]
asgiref = "*"
astroid = "*"
certifi = "*"
chardet = "*"
defusedxml = "*"
dj-database-url = "*"
django = "*"
django-allauth = "*"
django-heroku = "*"
idna = "*"
isort = "*"
lazy-object-proxy = "*"
mccabe = "*"
oauthlib = "*"
psycopg2 = "*"
pycodestyle = "*"
python3-openid = "*"
pytz = "*"
requests = "*"
requests-oauthlib = "*"
six = "*"
sqlparse = "*"
toml = "*"
typed-ast = "*"
urllib3 = "*"
whitenoise = "*"
wrapt = "*"
python-decouple = "*"
gunicorn = "*"
django-crispy-forms = "*"
django-countries = "*"
stripe = "*"
pillow = "*"
django-sendgrid-v5 = "*"
django-sendgrid = "*"

[requires]
python_version = "3.6"
