<!DOCTYPE html>
<html lang="en">
  <head>
  {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Shoipfy | {% block head_title %}{% endblock %}</title>
    {% block extra_head %} {% endblock %} {% include 'head-css.html' %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% include 'head-css.html' %}
  </head>
  <body>
    {% block body_initial %}
    {% endblock body_initial %}
    <div class="wrapper">
    {% block content %} {% endblock content %}
    </div> {% block body %}{%endblock body%}
    {% include 'bottom-scripts.html' %}
    {% include 'footer.html' %}
    {%block extra_body%} {% endblock extra_body %}
  </body>
</html>
