{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_title %}
checkout
{% endblock head_title %}
{% block content %}
<div class="grey lighten-3" style="margin: 0px; padding: 0px">
  <!-- Navbar -->
  <div class="col-12">{% include 'navbar.html' %}</div>
  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container wow fadeIn">
      <!-- Heading -->
      <h2 class="my-5 h1 text-center"><u>Checkout form</u></h2>

      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-md-8 mb-4">
          <!--Card-->
          <div class="card">
            <!--Card content-->
            <form class="card-body" method="POST" action="{% url 'checkout' %}" id="checkout-form">
              <h3>Shipping Address</h3>
              {% csrf_token %}
              <!--address-->
              <div class="hideable-shipping-form">
                <div class="md-form mb-5">
                  <input
                    type="text"
                    name="shipping_address"
                    id="id_shipping_address"
                    class="form-control"
                    placeholder="1234 Main St"
                  />
                  <label for="id_shipping_address" class=""
                    >Address<span class="asteriskField">*</span></label
                  >
                </div>

                <!--address-2-->
                <div class="md-form mb-5">
                  <input
                    type="text"
                    name="shipping_address2"
                    id="id_shipping_address"
                    class="form-control"
                    placeholder="Apartment or suite"
                  />
                  <label for="id_shipping_address" class=""
                    >Address 2 (optional)</label
                  >
                </div>

                <!--Grid row-->
                <div class="row">
                  <!--Grid column-->
                  <div class="col-lg-6 col-md-6 mb-4">
                    <label for="shipping_country" class="">
                      Shipping Country
                    </label>
                    {{form.shipping_country}}
                  </div>
                  <!--Grid column-->
                  <!--Grid column-->
                  <div class="col-lg-6 col-md-6 mb-4">
                    <label for="id_shipping_zip"
                      >Zip code<span class="asteriskField">*</span></label
                    >
                    <input
                      type="text"
                      name="shipping_zip"
                      class="form-control"
                      id="id_shipping_zip"
                      placeholder=""
                    />
                    <div class="invalid-feedback">Zip code required.</div>
                  </div>
                  <!--Grid column-->
                </div>
                <!--Grid row-->

                <hr />

                <div class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    name="same_billing_address"
                    class="custom-control-input"
                    id="id_same_billing_address"
                  />
                  <label
                    class="custom-control-label"
                    for="id_same_billing_address"
                    >Billing address is same as my shipping address</label
                  >
                </div>
                <div class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    name="set_default_shipping"
                    class="custom-control-input"
                    id="id_set_default_shipping"
                  />
                  <label
                    class="custom-control-label"
                    for="id_set_default_shipping"
                    >Save this shipping address for future</label
                  >
                </div>
              </div>
              {% if default_shipping_address %}
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  name="use_default_shipping"
                  class="custom-control-input"
                  id="id_use_default_shipping"
                />
                <label
                  class="custom-control-label"
                  for="id_use_default_shipping"
                  >Use default shipping address:
                  {{default_shipping_address.street_address|truncatechars:10}}</label
                >
              </div>
              {% endif %}
              <hr />
              <h3>Billing Address</h3>
              <div class="hideable-billing-form">
                <div class="md-form mb-5">
                  <input
                    type="text"
                    name="billing_address"
                    id="id_billing_address"
                    class="form-control"
                    placeholder="1234 Main St"
                  />
                  <label for="id_billing_address" class=""
                    >Address<span class="asteriskField">*</span></label
                  >
                </div>

                <!--address-2-->
                <div class="md-form mb-5">
                  <input
                    type="text"
                    name="billing_address2"
                    id="id_billing_address"
                    class="form-control"
                    placeholder="Apartment or suite"
                  />
                  <label for="id_billing_address" class=""
                    >Address 2 (optional)</label
                  >
                </div>

                <!--Grid row-->
                <div class="row">
                  <!--Grid column-->
                  <div class="col-lg-6 col-md-6 mb-4">
                    <label for="billing_country" class="">
                      Billing Country
                    </label>
                    {{form.billing_country}}
                  </div>
                  <!--Grid column-->
                  <!--Grid column-->
                  <div class="col-lg-6 col-md-6 mb-4">
                    <label for="id_billing_zip"
                      >Zip code<span class="asteriskField">*</span></label
                    >
                    <input
                      type="text"
                      name="billing_zip"
                      class="form-control"
                      id="id_billing_zip"
                      placeholder=""
                    />
                    <div class="invalid-feedback">Zip code required.</div>
                  </div>
                  <!--Grid column-->
                </div>
                <!--Grid row-->

                <hr />
                <div class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    name="set_default_billing"
                    class="custom-control-input"
                    id="id_set_default_billing"
                  />
                  <label
                    class="custom-control-label"
                    for="id_set_default_billing"
                    >Save this billing address for future</label
                  >
                </div>
              </div>
              {% if default_billing_address %}
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  name="use_default_billing"
                  class="custom-control-input"
                  id="id_use_default_billing"
                />
                <label class="custom-control-label" for="id_use_default_billing"
                  >Use default billing address:
                  {{default_billing_address.street_address|truncatechars:10}}</label
                >
              </div>
              {% endif %}
              <hr />
              <a role="button" class="btn btn-primary btn-lg btn-block" onclick="validateForm()">
                Continue to checkout
              </a>
            </form>
          </div>
          <!--/.Card-->
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-md-4 mb-4">{% include 'order-snippet.html' %}</div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
  </main>
  <!--Main layout-->
</div>
{% endblock content %}
{% block extra_body %}
<script type="text/javascript">
  // Animations initialization
  new WOW().init();
</script>
{% endblock extra_body %}
{% block extra_scripts %}
<script>
function displayErrorToast(message) {
  iziToast.error({
    title: "Error",
    message: message,
  });
}

var hideable_shipping_form = $(".hideable-shipping-form");
var hideable_billing_form = $(".hideable-billing-form");

var same_billing_address = document.querySelector(
  "input[name=same_billing_address]"
);

if ("{{default_shipping_address}}") {
  var use_default_shipping = document.querySelector(
    "input[name=use_default_shipping]"
  );
  use_default_shipping.addEventListener("change", function () {
    if (this.checked) {
      hideable_shipping_form.hide();
    } else {
      hideable_shipping_form.show();
    }
  });
}
if ("{{default_billing_address}}") {
  var use_default_billing = document.querySelector(
    "input[name=use_default_billing]"
  );
  use_default_billing.addEventListener("change", function () {
    if (this.checked) {
      hideable_billing_form.hide();
      same_billing_address.setAttribute("disabled", true);
    } else {
      hideable_billing_form.show();
      same_billing_address.removeAttribute("disabled");
    }
  });
}

same_billing_address.addEventListener("change", function () {
  if (this.checked) {
    hideable_billing_form.hide();
    use_default_billing.setAttribute("disabled", true);
  } else {
    hideable_billing_form.show();
    use_default_billing.removeAttribute("disabled");
  }
});

const validateBilling = () => {
  console.log("validateShipping");
  const billingAddress = document
    .getElementById("id_billing_address")
    .value.trim();
  if (billingAddress.length <= 0) {
    displayErrorToast("Billing address cannot be empty!");
     document
    .getElementById("id_billing_address").focus();
    return false;
  }
  const billingCountry = document.getElementById("id_billing_country").value;
  if (billingCountry.length <= 0) {
    displayErrorToast("Billing country is not selected!");
    document.getElementById("id_billing_country").focus();
    return false;
  }
  const zip = document.getElementById("id_billing_zip").value;
  if (!(/^[0-9]*$/.test(zip)) || zip.length != 6) {
    displayErrorToast("Zip should contain exactly 6 numeric characters");
    document.getElementById("id_billing_zip").focus();
    return false;
  }
  return true;
};

const validateShipping = () => {
  console.log("validateShipping");
  const shippingAddress = document
    .getElementById("id_shipping_address")
    .value.trim();
  if (shippingAddress.length <= 0) {
    displayErrorToast("Shipping address cannot be empty!");
    document
    .getElementById("id_shipping_address").focus();
    return false;
  }
  const shippingCountry = document.getElementById("id_shipping_country").value;
  if (shippingCountry.length <= 0) {
    displayErrorToast("Shipping country is not selected!");
    document.getElementById("id_shipping_country").focus();
    return false;
  }
  const zip = document.getElementById("id_shipping_zip").value;
  if (!(/^[0-9]*$/.test(zip)) || zip.length != 6) {
    displayErrorToast("Zip should contain exactly 6 numeric characters");
    document.getElementById("id_shipping_zip").focus();
    return false;
  }
  return true;
};

const validate = () => {
  let shipping = false;
  let billing = false;

  if ("{{default_shipping_address}}") {
    const useDefaultShipping = document.getElementById(
      "id_use_default_shipping"
    );
    if (useDefaultShipping.checked) {
      shipping = true;
    } else {
      shipping = validateShipping();
    }
  } else {
    shipping = validateShipping();
  }

  const sameBillingAddress = document.getElementById("id_same_billing_address");

  if (sameBillingAddress.checked) {
    billing = shipping;
    return (billing && shipping);
  }

  if ("{{default_billing_address}}") {
    const useDefaultBilling = document.getElementById("id_use_default_billing");
    if (useDefaultBilling.checked) {
      billing = true;
    } else {
      billing = validateBilling();
    }
  } else {
    billing = validateBilling();
  }
  return (billing && shipping);
};

function validateForm() {
  if (validate()) {
    document.querySelector("#checkout-form").submit();
  }
}
</script>
{% endblock extra_scripts %}
