{% extends 'base.html' %} 
{% load crispy_forms_tags %}
{% block head_title %}
checkout
{% endblock head_title %}
{% block content %}
<div class="grey lighten-3" style="margin: 0px; padding: 0px;">
  <!-- Navbar -->
  <div class="row mb-5">
    <div class="col-12">{% include 'navbar.html' %}</div>
  </div>
  <!-- Navbar -->
  <div class="mb-5">
    {% include 'messages.html' %}
  </div>
  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container wow fadeIn">
      <!-- Heading -->
      <h2 class="my-5 h1 text-center"><u>Checkout form</u></h2>

      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-md-8 mb-4">
          <!--Card-->
          <div class="card">
            <!--Card content-->
            <form class="card-body" method="POST" action="{% url 'checkout' %}">
              {% csrf_token %}
              <!--address-->
              <div class="md-form mb-5">
                <input
                  type="text"
                  name="street_address"
                  required
                  id="id_street_address"
                  class="form-control"
                  placeholder="1234 Main St"
                />
                <label for="id_street_address" class="">Street address<span class="asteriskField">*</span></label>
              </div>

              <!--address-2-->
              <div class="md-form mb-5">
                <input
                  type="text"
                  name="apartment_address"
                  id="id_apartment_address"
                  class="form-control"
                  placeholder="Apartment or suite"
                />
                <label for="id_apartment_address" class="">Apartment address (optional)</label>
              </div>

              <!--Grid row-->
              <div class="row">
                <div class="col-lg-6 col-md-6 mb-4">
                {% include 'country-select.html' %}
                </div>
                <!--Grid column-->
                <div class="col-lg-6 col-md-6 mb-4">
                  <label for="id_zip">Zip<span class="asteriskField">*</span></label>
                  <input
                    type="text"
                    name="zip"
                    class="form-control"
                    id="id_zip"
                    placeholder=""
                    required
                  />
                  <div class="invalid-feedback">Zip code required.</div>
                </div>
                <!--Grid column-->
              </div>
              <!--Grid row-->

              <hr />

              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  name="same_shipping_address"
                  class="custom-control-input"
                  id="id_same_shipping_address"
                />
                <label class="custom-control-label" for="id_same_shipping_address"
                  >Same shipping address</label
                >
              </div>
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  name="save_info"
                  class="custom-control-input"
                  id="id_save_info"
                />
                <label class="custom-control-label" for="id_save_info"
                  >Save info</label
                >
              </div>

              <hr />

              <div class="d-block my-3">
                <label for="id_payment_options_0" class="requiredField">
                  Payment options<span class="asteriskField">*</span>
                </label>
                <div class="custom-control custom-radio">
                  <input
                    id="id_payment_options_1"
                    name="payment_options"
                    type="radio"
                    class="custom-control-input"
                    checked
                    value="S"
                    required
                  />
                  <label class="custom-control-label" for="id_payment_options_1"
                    >Stripe</label
                  >
                </div>
                <div class="custom-control custom-radio">
                  <input
                    id="id_payment_options_2"
                    name="payment_options"
                    type="radio"
                    class="custom-control-input"
                    value="P"
                    required
                  />
                  <label class="custom-control-label" for="id_payment_options_2"
                    >Paypal</label
                  >
                </div>
              </div>
              <hr class="mb-4" />
              <button class="btn btn-primary btn-lg btn-block" type="submit">
                Continue to checkout
              </button>
            </form>
          </div>
          <!--/.Card-->
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">
          <!-- Heading -->
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            <span class="badge badge-secondary badge-pill">3</span>
          </h4>

          <!-- Cart -->
          <ul class="list-group mb-3 z-depth-1">
            <li
              class="list-group-item d-flex justify-content-between lh-condensed"
            >
              <div>
                <h6 class="my-0">Product name</h6>
                <small class="text-muted">Brief description</small>
              </div>
              <span class="text-muted">$12</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between lh-condensed"
            >
              <div>
                <h6 class="my-0">Second product</h6>
                <small class="text-muted">Brief description</small>
              </div>
              <span class="text-muted">$8</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between lh-condensed"
            >
              <div>
                <h6 class="my-0">Third item</h6>
                <small class="text-muted">Brief description</small>
              </div>
              <span class="text-muted">$5</span>
            </li>
            <li class="list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
                <h6 class="my-0">Promo code</h6>
                <small>EXAMPLECODE</small>
              </div>
              <span class="text-success">-$5</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>Total (USD)</span>
              <strong>$20</strong>
            </li>
          </ul>
          <!-- Cart -->

          <!-- Promo code -->
          <form class="card p-2">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Promo code"
                aria-label="Recipient's username"
                aria-describedby="basic-addon2"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-secondary btn-md waves-effect m-0"
                  type="button"
                >
                  Redeem
                </button>
              </div>
            </div>
          </form>
          <!-- Promo code -->
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
  </main>
  <!--Main layout-->
</div>
{% endblock content %}
{% block extra_body %}
<!-- Initializations -->
    <script type="text/javascript">
      // Animations initialization
      new WOW().init();
    </script>
{% endblock extra_body %}
