<!-- Heading -->
<h4 class="d-flex justify-content-between align-items-center mb-3">
  <span class="text-muted">Your cart</span>
  <span class="badge badge-secondary badge-pill">{{order.items.count}}</span>
</h4>
<!-- Cart -->
<ul class="list-group mb-3 z-depth-1">
  {% for order_item in order.items.all %}
  <li class="list-group-item d-flex justify-content-between lh-condensed">
    <div>
      <h6 class="my-0">{{order_item.quantity}} x {{order_item.item.title}}</h6>
    </div>
    <span class="text-muted">Rs.{{order_item.get_final_price}}</span>
  </li>
  {% endfor %}
  <li class="list-group-item d-flex justify-content-between">
    <span>Total (USD)</span>
    <strong>Rs.{{order.get_total}}</strong>
  </li>
  {% if order.coupon %}
  <li class="list-group-item d-flex justify-content-between bg-light">
    <div class="text-success">
      <h6 class="my-0">Promo code</h6>
      <small>{{order.coupon.code}}</small>
    </div>
    <span class="text-success">-Rs.{{order.get_coupon_discount}}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between">
    <span>Discounted Total (USD)</span>
    <strong
      ><del>Rs.{{order.get_total}}</del> Rs.{{order.get_total_after_coupon}}</strong
    >
  </li>
  {% endif %}
</ul>
<!-- Cart -->
{% if show_coupon_form %}
<!-- Promo code -->
<form class="card p-2" action="{% url 'add-coupon' %}" method="POST">
  {% csrf_token %}
  <div class="input-group">
    <select
      name="code"
      class="custom-select"
      placeholder="Promo Code"
      aria-label="Recipient&#39;s username"
      aria-describedby="basic-addon2"
      required
      id="id_code"
    >
      <option value="">SELECT</option>
      <option value="FIRST_TIME">FIRST_TIME</option>
      <option value="THREE_THOUSAND">THREE_THOUSAND</option>
    </select>
    <div class="input-group-append">
      <button class="btn btn-secondary btn-md waves-effect m-0" type="submit">
        Redeem
      </button>
    </div>
  </div>
</form>
<!-- Promo code -->
{% endif %}
