{% extends 'base.html' %} {% load static %} 
{% block head_title %}
item-detail
{% endblock head_title %}
{% block content %}
<!-- Navbar -->
{% include 'navbar.html' %}
<!-- Navbar -->
<!--Alerts-->
{% include 'messages.html' %}
<!--Alerts-->
<!--Main layout-->
<main class="mt-5 pt-4">
  <div class="container dark-grey-text mt-5">
    <!--Grid row-->
    <div class="row wow fadeIn justify-content-center">
      <!--Grid column-->
      <div class="col-md-6">
        <img
          src="{{item.image.url}}"
          class="img-fluid"
          alt="Item's image"
        />
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6">
        <!--Content-->
        <div class="p-4">
          <div>
            <a href="">
              <span class="badge purple mr-1"
                >{{item.get_category_display}}</span
              >
            </a>
            {% if item.discount_price %}
              <span class="badge badge-primary">Saving ${{item.get_saved_amount}}</span>
            {% endif %}
          </div>

          <p class="lead">
            {% if item.discount_price %}
            <span class="mr-1">
              <span>${{item.discount_price}}</span>
              <del>${{item.price}}</del>
            </span>
            {% else %} ${{item.price}} {% endif %}
          </p>

          <h3 class="lead font-weight-bold">Description</h3>
          <p>{{item.description}}</p>
          <a
            class="btn btn-primary btn-md my-0 p"
            href="{{item.get_add_to_cart_url}}"
          >
            Add to cart
            <i class="fas fa-shopping-cart ml-1"></i>
          </a>
          <a
            class="btn btn-danger btn-md my-0 p"
            href="{{item.get_remove_from_cart_url}}"
          >
            Remove from cart
          </a>
        </div>
        <!--Content-->
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->

    <hr />

    <!--Grid row-->
    <div class="row d-flex justify-content-center wow fadeIn">
      <!--Grid column-->
      <div class="col-md-6 text-center">
        <h4 class="my-4 h4">Additional information</h4>

        <p>
          Wohoo 🙂️🙂️ ! you have found an excellent item from our exclusive store. This Item is one of our best seller, and is in high demand. Seems like you have an awesome choice. Why not try some more items in similar category?
        </p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row wow fadeIn justify-content-center">
      <!--Grid column-->
      {% for similar_item in same_category_items %}
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="view overlay">
              <img
                src="{{similar_item.image.url}}"
                class="card-img-top"
                alt="Item's image"
              />
              <a href="{{similar_item.get_absolute_url}}">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->

            <!--Card content-->
            <div class="card-body text-center">
              <!--Category & Title-->
              <a href="" class="grey-text">
                <h5>{{similar_item.get_category_display}}</h5>
              </a>
              <h5>
                <strong>
                  <a href="{{similar_item.get_absolute_url}}" class="dark-grey-text"
                    >{{similar_item.title}}
                    <span
                      class="badge badge-pill {{similar_item.get_label_display}}-color"
                      >NEW</span
                    >
                  </a>
                </strong>
              </h5>
              <h4 class="font-weight-bold blue-text">
                {% if similar_item.discount_price %}
                <span><strong>${{similar_item.discount_price}}</strong></span>
                <small class="text-muted"><del>${{similar_item.price}}</del></small>
                {% else %}
                <strong>${{similar_item.price}}</strong>
                {% endif %}
              </h4>
            </div>
            <!--Card content-->
          </div>
        </div>
      {% endfor %}
    </div>
    <!--Grid row-->
  </div>
</main>
<!--Main layout-->
{% endblock content %} {% block extra_body %}
<!-- Initializations -->
<script type="text/javascript">
  // Animations initialization
  new WOW().init();
</script>
{% endblock extra_body %}
